// Main colors
@white: rgba(255, 255, 255, 1);
@black: rgba(0, 0, 0, 1);

@border: rgba(221, 221, 221, 1);
@background: rgba(241, 241, 241, 1);

@klarna-blue: rgba(0, 137, 207, 1);
@klarna-black: rgba(49, 57, 62, 1);
@klarna-green: rgba(103, 198, 0, 1);