@import "colors";
@import "border-radius";

// Main button
.button {
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-family: Arial, sans-serif;
    height: 30px;
    line-height: 17px;
    min-width: 80px;
    outline: none;
    padding: 6px 10px 7px 10px;
    vertical-align: top;

    .border-radius(1px);

    &::-moz-focus-inner {
        border: 0;
    }
    span,
    span:focus,
    &:focus {
        outline: none;
    }
}

// Blue - Primary
.button.blue {
    text-shadow: 0 1px 1px @c-textShadowBlue;
    background: @c-darkBlue;
    background: -ms-linear-gradient(top, @c-blue 0%, @c-darkBlue 100%);
    background: -moz-linear-gradient(top, @c-blue 0%, @c-darkBlue 100%);
    background: -o-linear-gradient(top, @c-blue 0%, @c-darkBlue 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, @c-blue), color-stop(1, @c-darkBlue));
    background: -webkit-linear-gradient(top, @c-blue 0%, @c-darkBlue 100%);
    background: linear-gradient(to bottom, @c-blue 0%, @c-darkBlue 100%);
    border: 1px solid @c-borderBlueDark;
    -moz-box-shadow:    inset 0 1px 2px 0 rgba(255,255,255,0.25);
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(255,255,255,0.25);
    box-shadow:         inset 0 1px 2px 0 rgba(255,255,255,0.25);
    
    &:hover, :focus {
    -moz-box-shadow:    0 1px 4px 0 rgba(0,0,0,0.3), inset 0 1px 2px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3), inset 0 1px 2px 0 rgba(255,255,255,0.5);
    box-shadow:         0 1px 4px 0 rgba(0,0,0,0.3), inset 0 1px 2px 0 rgba(255,255,255,0.5);
    }
}

// Orange - Action
.button.orange {
    min-width:60px;
    text-shadow: 0 1px 1px @c-textShadowOrange;
    background: @c-darkOrange;
    background: -ms-linear-gradient(top, @c-orange 0%, @c-darkOrange 100%);
    background: -moz-linear-gradient(top, @c-orange 0%, @c-darkOrange 100%);
    background: -o-linear-gradient(top, @c-orange 0%, @c-darkOrange 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, @c-orange), color-stop(1, @c-darkOrange));
    background: -webkit-linear-gradient(top, @c-orange 0%, @c-darkOrange 100%);
    background: linear-gradient(to bottom, @c-orange 0%, @c-darkOrange 100%);
    border: 1px solid @c-borderOrangeDark;
    -moz-box-shadow:    inset 0 1px 2px 0 rgba(255,255,255,0.25);
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(255,255,255,0.25);
    box-shadow:         inset 0 1px 2px 0 rgba(255,255,255,0.25);
    
    &:hover, :focus {
    -moz-box-shadow:    0 1px 4px 0 rgba(0,0,0,0.3), inset 0 1px 2px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3), inset 0 1px 2px 0 rgba(255,255,255,0.5);
    box-shadow:         0 1px 4px 0 rgba(0,0,0,0.3), inset 0 1px 2px 0 rgba(255,255,255,0.5);
    }
}