@c-background: rgba(241, 241, 241, 1);

@c-blue: rgba(0, 137, 207, 1);
@c-darkBlue: rgba(0, 92, 166, 1);
@c-black: rgba(49, 57, 62, 1);
@c-green: rgba(103, 198, 0, 1);
@c-orange: rgba(246, 174, 78, 1);
@c-darkOrange: rgba(238,110,12,1);

@c-borderGrey: rgba(221, 221, 221, 1);
@c-borderBlueDark: rgba(18, 38, 62, 1);

@c-label: rgba(49, 57, 62, 1);
@c-input-text: rgba(85, 85, 85, 1);
@c-input-disabled-text: rgba(153, 153, 153, 1);
@c-input-border: rgba(204, 204, 204, 1);
@c-input-focus-border: rgba(0, 109, 186, 1);
@c-input-error-border: rgba(178, 0, 0, 1);
@c-input-disabled-border: rgba(204, 204, 204, 1);
@c-input-disabled-bg: rgba(246, 246, 246, 1);

@c-borderBlueDark: rgba(41, 84, 134, 1);
@c-borderOrangeDark: rgba(182, 90, 44, 1);
@c-textShadowBlue: rgba(18, 38, 62, 1);
@c-textShadowOrange: rgba(199, 99, 2, 1);

