@import "colors";
@import "clearfix";
@import "fonts";

#menu {
    @c-highlight: darken(@c-background, 5%);

    .horizontal () {
        margin-top: 4px;

        li {
            margin-left: 10px;
            float: left;
            &:first-child {
                margin-left: 0px;  
            }
            min-width: 45px;
            text-align: center;
        }
    }

    .item () {
        color: black;

        a {
            display: block;
            padding: 4px;
            color: black;
            text-decoration: none;
            transition: background-color 0.2s;

            &:hover {
                background-color: @c-highlight;
            }
        }


        &.active {
            color: white;
            > a {
                background-color: @c-blue;
                color: white;
            }
        }
    }
}

.menu {
    padding-left: 8px;
    list-style: none;

    .menu {
        padding-left: 14px;
    }

    li {
        #menu > .item;
    }
}

.hmenu {
    .clearfix;
    .menu;
    #menu > .horizontal;
}
